<div class="container-fluid">
    <nav>
        <div class="container">
            <app-navbar></app-navbar>
        </div>
    </nav>
    <app-header></app-header>
    <div class="container-fluid second">
        <div class="container tabs">
            <app-tabs></app-tabs>
        </div>
    </div>
</div>