
.container-fluid{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1170px;
    height: 70px;
}
nav {
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #333;
}

.second {
    align-items: center;
}

.tabs {
    flex-direction: row;
}