<mat-tab-group>
    <mat-tab label="First"> 
        <div class="tab-content mat-elevation-z4">
            <span>Text</span>
        </div>
    </mat-tab>
    <mat-tab label="Second"> 
        <div class="tab-content mat-elevation-z4">
            <span>Text</span>
        </div>    
    </mat-tab>
    <mat-tab label="Third">
        <div class="tab-content mat-elevation-z4">
            <span>Text</span>
        </div>
    </mat-tab>
</mat-tab-group>
