/* Styles for tab labels */
.mat-tab-label {
    background-color: transparent;
    color: #333;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: #333 !important;
}

.mat-tab-list{
    display: flex;
    justify-content: center;
}

.tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #f6f6f6;
}
