<button mat-button >Home</button>

<button mat-button >About</button>

<button mat-button [matMenuTriggerFor]="ServicesMenu">Services</button>
<mat-menu #ServicesMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button >Contact</button>